@font-face {
  font-family: 'SF Pro Text';
  src: url('https://github.com/LLRIX-ofc/mintlify-docs/raw/refs/heads/main/SF-Pro-Text-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('https://github.com/LLRIX-ofc/mintlify-docs/raw/refs/heads/main/SF-Pro-Text-Bold.otf') format('opentype');
  font-weight: bold;
}

body, p, li, a, span {
  font-family: 'SF Pro Text', sans-serif !important;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'SF Pro Text', sans-serif !important;
  font-weight: bold;
}
